@use '../../../../styles' as *;

:host {
  padding: $spacing-sm $spacing-md;
  display: block;
}

.end-node {
  &__field-wrap {
    display: flex;
    flex-direction: column;
  }

  &__field-label {
    font-size: $font-size-base;
    font-weight: 500;
    color: $color-text;
    margin-bottom: $spacing-md;
  }

  &__input {
    @include form-input;
    width: auto;
    background: $color-bg-secondary;
  }
}

