# Angular build output
/dist/
/out-tsc/
/tmp/
/coverage/
/.angular/cache/

# Dependencies
/node_modules/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE and editor files
/.idea/
/.vscode/*
!/.vscode/extensions.json
!/.vscode/tasks.json
!/.vscode/launch.json

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*
!.env.example
.npmrc.auth

# Others
/instructions/
/logs/