<div class="atom-shell">
  @if (!shellNav.hideSecondary()) {
    <atom-primary-sidebar />
  }

  <div class="atom-shell__main">
    @if (!shellNav.hideSecondary()) {
      <atom-header />
    }

    <div class="atom-shell__section">
      @if (!shellNav.hideSecondary()) {
        <atom-secondary-sidebar />
      }

      <main class="atom-shell__content" [class.atom-shell__content--canvas]="shellNav.hideSecondary()">
        @if (shellNav.hideSecondary()) {
          <router-outlet />
        } @else {
          <atom-content-frame />
        }
      </main>
    </div>
  </div>
</div>
